html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #549BA0;
    padding: 15px 0px;
    margin: 5px 0px;
    border-radius: 15px;
    min-width: 500px;
}

h2 {
    text-align: center;
    color: #ffffff;
    background-color: #6cadb2;
    padding: 10px 0px;
    margin: 5px 0px;
    border-radius: 10px;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #FFE4BB;
}

header {
    height: 100%;
    width: 200px;
    background-color: #a1cbce;
    position: fixed;
    top: 0px;
    left: 0px;
    grid-column-start: 1;
}

ul {
    list-style-type: none;
}

nav li {
    padding: 3px;
    margin: 7px;
    border: 3px solid #549BA0;
    border-radius: 10px;
    background-color: #549BA0;
    width: 100%;
    transition: 1s;
}

nav li:hover {
    text-indent: 10px;
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

#nav-title {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #549BA0;
    color: #ffffff;
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
}

#welcome-message {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #6cadb2;
    color: #ffffff;
    padding: 5px;
    margin: 0px;
    font-size: 1em;
}

#timeline-holder {
    background-color: #549BA0;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 15px;
}

#timeline {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

#timeline span.timeline-date-label {
    border-radius: 10px 10px 0px 0px;
    background-color: #a1cbce;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

#timeline span:nth-child(6) {
    background-color: #d65108;
}

#timeline span:nth-last-child(11) {
    border-radius: 0px 0px 0px 10px;
}

#timeline span:last-child {
    border-radius: 0px 0px 10px 0px;
}

.task-bar {
    padding: 5px 3px;
    background-color: #6cadb2;
    border-top: 1px dashed #549BA0;
    border-bottom: 1px dashed #549BA0;
}

.task-bar a,
.completed-task-bar a {
    text-decoration: none;
    color: #ffffff;
}

.completed-task-bar {
    padding: 5px 3px;
    background-color: #a1cbce;
    border-top: 1px dashed #549BA0;
    border-bottom: 1px dashed #549BA0;
}

.empty-task {
    background-color: #ffffff;
    border-top: 1px dashed #a1cbce;
    border-bottom: 1px dashed #a1cbce;
}

#user-error {
    width: 750px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

p {
    margin-block: .5em;
}

main {
    width: 75vw;
    margin: 15px;
    grid-column-start: 2;
    justify-self: center;
}

.description {
    width: 65vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 100px;
}

.placeholder {
    width: 65vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

.button-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.create-button {
    background-color: #d65108;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 245px;
    margin: auto;
    transition: 1s;
}

.create-button a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.create-button:hover {
    background-color: #b14206;
}

.errorlist li {
    background-color: #d65108;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    width: 50%;
    text-align: center;
}

form {
    width: 65vw;
    background-color: #a1cbce;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
}

form p {
    display: grid;
    grid-template-columns: 95px repeat(3, 133px);
    column-gap: 5px;
    justify-content: center;
}

label {
    background-color: #549BA0;
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
    align-self: start;
}

p #id_project,
p #id_assignee,
p #id_owner,
input,
textarea {
    grid-column-start: 2;
    grid-column-end: 5;
}

button {
    display: block;
    border: none;
    background-color: #d65108;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 245px;
    margin: auto;
    font-weight: bold;
    transition: 1s;
}

button:hover {
    background-color: #b14206;
}

table {
    margin: 5px 0px 30px 0px;
    border-spacing: 0px;
    width: 100%;
}

th {
    border-radius: 10px 10px 0px 0px;
    background-color: #a1cbce;
    width: 250px;
    color: #ffffff;
    padding: 5px;
}

td {
    padding: 5px 10px;
    text-align: center;
}

td a {
    color: #000000;
}

tr td a:hover {
    color: #549BA0;
}

td a:visited {
    color: #3d3d3d;
}

tr {
    transition: 1s;
}

tr:last-child td:first-child {
    border-radius: 0px 0px 0px 10px;
}

tr:last-child td:last-child {
    border-radius: 0px 0px 10px 0px;
}

tbody tr:nth-child(even) {
    background-color: #fff7eb;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #ffefd6;
}
