{% extends 'base.html' %}

{% block title %}
Create a new task
{% endblock title %}
{% block content %}
<div>
    <h1>Create a new task</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
{% endblock content %}
