{% extends 'base.html' %}

{% block title %}
Delete {{ task.name }}
{% endblock title %}
{% block content %}
<div>
    <h1>Are you sure you want to delete {{ task.name }}?</h1>
    {% if request.user == task.assignee %}
    <form method="POST">
        {% csrf_token %}
        <button>Delete</button>
    </form>
    {% else %}
    <p id="user-error">You don't have authorization to delete this task.</p>
    {% endif %}
</div>
{% endblock content %}
