{% extends 'base.html' %}

{% block title %}
{{ task.name }}
{% endblock title %}
{% block content %}
<div>
    <h1>{{ task.name }}</h1>
    <div class="description">
        <p>{{ task.description|linebreaks }}</p>
    </div>
    <div class="button-holder">
        <span class="create-button">
            <a href="{% url 'create_task' %}">Create a new task</a>
        </span>
        <span class="create-button">
            <a href="{% url 'edit_task' task.id %}">Edit Task</a>
        </span>
        <span class="create-button">
            <a href="{% url 'delete_task' task.id %}">Delete Task</a>
        </span>
    </div>
    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Assignee</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Is Complete?</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'show_project' task.project.id %}">{{ task.project.name }}</a></td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.start_date|date:"F j, Y" }}</td>
                <td>{{ task.due_date|date:"F j, Y" }}</td>
                <td>{{ task.is_completed|yesno }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
