{% extends 'base.html' %}

{% block title %}
Edit {{ task.name }}
{% endblock title %}
{% block content %}
<div>
    <h1>Edit {{ task.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
</div>
{% endblock content %}
