{% extends 'base.html' %}

{% block title %}
My tasks
{% endblock title %}
{% block content %}
<div>
    <h1>My Tasks</h1>
    <p class="create-button">
        <a href="{% url 'create_task' %}">Create a new task</a>
    </p>
    {% if tasks|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td><a href="{% url 'show_project' task.project.id %}">{{ task.project.name }}</a></td>
                <td><a href="{% url 'show_task_detail' task.id %}">{{ task.name }}</a></td>
                <td>{{ task.start_date|date:"F j, Y" }}</td>
                <td>{{ task.due_date|date:"F j, Y" }}</td>
                <td>{{ task.is_completed|yesno }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="placeholder">
        <p>You have no tasks</p>
    </div>
    {% endif %}
</div>
{% endblock content %}
