{% extends 'base.html' %}

{% block title %}
Timeline
{% endblock title %}
{% block content %}
<div>
    <h1>Timeline</h1>
    {% if all_tasks|length > 0 %}
    {% if relevant_task_list|length > 0 %}
    <div id="timeline-holder">
        <div id="timeline">
            {% for item in timeline_headers %}
            <span class="timeline-date-label">{{ item }}</span>
            {% endfor %}
            {% for task in relevant_task_list %}
            {% for i in position_range %}
            {% if i == task.timeline_start_position %}
            {% if task.is_completed %}
            <span class="completed-task-bar">
                <a href="{% url 'show_task_detail' task.id %}">{{ task.name|truncatechars:12 }}</a></span>
            {% else %}
            <span class="task-bar">
                <a href="{% url 'show_task_detail' task.id %}">{{ task.name|truncatechars:12 }}</a></span>
            {% endif %}
            {% elif i >= task.timeline_start_position and i <= task.timeline_end_position %} {% if task.is_completed %}
                <span class="completed-task-bar"></span>
                {% else %}
                <span class="task-bar"></span>
                {% endif %}
                {% else %}
                <span class="empty-task"></span>
                {% endif %}
                {% endfor %}
                {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="placeholder">
        <p>You have no tasks assigned in the near future or recent past.</p>
    </div>
    {% endif %}
    <h2>Past or Upcoming Tasks</h2>
    {% if pastfuture_task_list|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Project</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is complete</th>
            </tr>
        </thead>
        <tbody>
            {% for task in pastfuture_task_list %}
            <tr>
                <td><a href="{% url 'show_task_detail' task.id %}">{{ task.name }}</a></td>
                <td><a href="{% url 'show_project' task.project.id %}">{{ task.project.name }}</a></td>
                <td>{{ task.start_date|date:"F j, Y" }}</td>
                <td>{{ task.due_date|date:"F j, Y" }}</td>
                <td>{{ task.is_complete|yesno }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="placeholder">
        <p>You are not assigned any other tasks.</p>
    </div>
    {% endif %}
    {% else %}
    <div class="placeholder">
        <p>You are not assigned any tasks.</p>
    </div>
    {% endif %}
</div>
{% endblock content %}
