{% extends 'base.html' %}

{% block title %}
{{ project.name }}
{% endblock title %}
{% block content %}
<div>
    <h1>{{ project.name }}</h1>
    <div class="description">
        <p>{{ project.description|linebreaks }}</p>
    </div>
    <h2>Tasks</h2>
    <div class="button-holder">
        <span class="create-button">
            <a href="{% url 'create_task' %}">Create a new task</a>
        </span>
        <span class="create-button">
            <a href="{% url 'edit_project' project.id %}">Edit Project</a>
        </span>
        <span class="create-button">
            <a href="{% url 'delete_project' project.id %}">Delete Project</a>
        </span>
    </div>
    {% if project.tasks.all|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            {% for task in project.tasks.all %}
            <tr>
                <td><a href="{% url 'show_task_detail' task.id %}">{{ task.name }}</a></td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.start_date|date:"F j, Y" }}</td>
                <td>{{ task.due_date|date:"F j, Y" }}</td>
                <td>{{ task.is_completed|yesno }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="placeholder">
        <p>This project has no tasks.</p>
    </div>
    {% endif %}
</div>
{% endblock content %}
