{% extends 'base.html' %}

{% block title %}
Edit {{ project.name }}
{% endblock title %}
{% block content %}
<div>
    <h1>Edit {{ project.name }}</h1>
    {% if request.user == project.owner %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
    {% else %}
    <p id="user-error">You don't have authorization to edit this project.</p>
    {% endif %}
</div>
{% endblock content %}
