{% extends 'base.html' %}

{% block title %}
Project List
{% endblock title %}
{% block content %}
<div>
    <h1>My Projects</h1>
    <p class="create-button">
        <a href="{% url 'create_project' %}">Create a new project</a>
    </p>
    <h2>Projects I manage</h2>
    {% if projects|length == 0 %}
    <div class="placeholder">
        <p>You are not managing any projects</p>
    </div>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
                <th>Participants</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                </td>
                <td>{{ project.tasks.all|length }}</td>
                <td>{{ project.list_participants }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <h2>Projects where I have tasks</h2>
    {% if tasks|length == 0 %}
    <div class="placeholder">
        <p>You are not assigned any tasks.</p>
    </div>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Project name</th>
                <th>Project owner</th>
            </tr>
        </thead>
        <tbody>
            {% for project in relevant_projects %}
            <tr>
                <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                <td>{{ project.owner }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock content %}
